.section-container {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    margin-top: 30px;
}
.section{
    padding: 40px;

}
.section h2{
    color: $white;
    font-family: $font1;
    font-size: 1.375rem;
}
.section h3{
    color: $white;
    font-size: .9rem;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 2px;
}
.section p{
    padding: 10px;
    color: $white;
    font-family: $font2;
    font-size: .8rem;
    font-weight: 600;
}
.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    opacity: 0;
    animation: animCard 1s forwards;
}
@keyframes animCard {
    to {
        opacity: 1;
    }
}

.card {
    width: 300px; 
    margin: 10px; 
    background: rgb(29, 28, 28);
    border-radius: 10px;
    gap: 10px;
    box-shadow: -1px 2px 20px 9px $ombre;
    -webkit-box-shadow: -1px 2px 20px 9px $ombre;
    -moz-box-shadow: -1px 2px 20px 9px $ombre;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    }
}

.card img {
    width: 100%; 
    height: auto; 
    max-height: 300px;
    padding: 15px;
    object-fit: cover;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 22px;
    text-align: center;
}
.button .btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
    font-family: $font1;
    font-size: .8rem;
  
}

.button .btn-reserver{
    background: $color;
    color: $black;
    font-weight: 700;
}
.button .btn-reserver:hover{
    box-shadow: $ombre_bouton;
    color: $black;
}
.button .btn-detail{
    border: 1px solid $color;
    background: none;
    color: $white;
    font-weight: 700;
}
.button .btn-detail:hover{
    box-shadow: 0 0 5px $color, 0 0 25px $color;
    color: $white;
    background: none;
}