.succes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 45px auto;
    padding: 20px;
    border: 1px solid $grey2;
    border-radius: 8px;
    background-color: $white;

    .fas{
        font-size: 48px; 
        color: #28a745; 
        margin-right: 15px;
        transition: .9s; 
    }
    h2{
        font-size: 24px;
        color: #155724;
        margin-top: 10px; 
        margin-bottom: 10px;
    }
    a{
        font-size: 1rem;
        font-weight: 600;
    }
    p, p a{
        color: #0d652d; 
        text-decoration: none;
        font-weight: bold;
        font-size: .8rem;
        margin-top: 10px;
    }
}
