@font-face {
    font-family: 'Montserrat';
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Lato';
    src: url(../Fonts/Lato-Regular.ttf);
}
  
  $font1: Montserrat, sans-serif;
  $font2: Lato, sans-serif;
  $white: #E7E2D7;
  $black: #1D1C1C;
  $background_navbar: #020202;
  $grey1: #333;
  $grey2: #666;
  $grey3: #5a5957;
  $grey4: #ece4d1c5;
  $color: #FBC115;
  $ombre: rgba(25,25,25,0.75);
  $card-background: rgb(29, 28, 28);
  $ombre_bouton : 0 0 5px $color, 0 0 25px rgb(251, 193, 21);


  html{
    scroll-behavior: smooth;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  body {
    font-family: $font2;
    min-height: 100vh;
    background: #0B0C0C;
  }
  